{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>

    <header class="header">
        <div class="header-content">
            <h1 class="header-title">Мой блог</h1>
            <a href="{% url 'home' %}" class="header-link">Главная</a>
            <a href="{% url 'about' %}" class="header-link">О нас</a>
            <a href="{% url 'review_list' %}" class="header-link">Отзывы</a>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>